@{
    ViewData["Title"] = "Dashboard";
}

<div class="dashboardContent">
    <div class="userImage">
        <img src="~/images/user-placeholder.png" />
    </div>
    <div class="statsContainer">
        <div class="row statsRow">
            <div class="col-sm-4 statsTitle">My Stats</div>
            <div class="col-sm-4 statsTitle" id="middleStatsBox">Global Stats</div>
            <div class="col-sm-4 statsTitle">Notifications</div>
        </div>
        <div class="row statsRow">
            <div class="col-sm-4 statsColumn"></div>
            <div class="col-sm-4 statsColumn" id="middleStatsBox"></div>
            <div class="col-sm-4 statsColumn"></div>
        </div>
    </div>
</div>