

    /*---------------------------*/
    /*      Left Filter box      */
    /*---------------------------*/

.horizontal-line {
    height: 1px;
    background-color: rgba(70, 70, 70, 0.25);
    width: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
}

user-filter-box {
    text-align: center;
    width: 90%;
    margin: auto;
}

.user-filter-row {
    width: 100%;
    min-height: 28px;
    max-height: 28px;
    margin-left: 0px;
    margin-right: 0px;
}

.user-filter-contentbox {
    float: left;
}

    /*--------------------------*/
    /*      "Add User"-Box      */
    /*--------------------------*/

.user-adduser-box {
    padding: 5px 0px 5px 0px;
    width: 40%;
    margin-left: 30%;
    margin-top: 3%;
}



    /*-------------------------------*/
    /*      User Search Results      */
    /*-------------------------------*/


.user-search-item {
    border: 1px solid #e91e63;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1.5%;
    position: relative;
    overflow: visible;
}

.user-search-content {
    height: 25%; 
    max-height: 80px; 
    width: 80%; 
    margin: 0;
}

.user-profile-picture {
    float: left;
    margin-right: 2%;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    border: 1px solid #707070;
    border-radius: 39px;
}

.user-titlebox {
    float: left;
    height: inherit;
    line-height: 28px;
}

.user-titletext {
    margin: 0;
    display: inline-block;
    height: inherit;
}

.user-descriptionbox {
    float: left;
    height: inherit;
    line-height: 20px;
}

.user-descriptiontext {
    margin: 0;
    display: inline-block;
    height: inherit;
    font-size: 11px;
    color: #707070;
    font-style: italic;
}

.user-stats-textbox {
    float: left;
    height: inherit;
    line-height: 28px;
    font-size: 16px;
}










    /*----------------------------------*/
    /*      Other CSS of some pages     */
    /*----------------------------------*/


.contentcontainer {
    margin-top: 2%;
}

.row.userProfileRow {
    height: 680px;
}

.col-sm-3.userProfileColumn {
    background-color: white;
    height: 100%;
}

.col-sm-9.userInformationColumn {
    background-color: white;
    height: 100%;
    width: 71%;
    margin-left: 4%;
    padding: 3%;
}

img.userProfileImage {
    width: 76%;
    height: auto;
    margin-top: 12%;
    margin-left: 12%;
    margin-right: 12%;
    position: initial;
}

button.btn.editButton {
    position: initial;
    margin: 18%;
    background-color: #e91e63;
    color: white;
    font-size: 16px;
    border: none;
    width: 64%;
    text-align: center;
    margin-top: 79%;
}

.inputField {
    margin-top: 2%;
}

div#profileInfoTitle {
    margin-top: 4%;
}

input#Housenumber {
    margin-top: 6.4%;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover {
    background-color: #ededed;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.modal-dialog {
    height: 100vh !important;
    display: flex;
}

.modal-content {
    margin: auto !important;
    height: fit-content !important;
}

.userStatView {
    background-color: #e91e63;
    color: white;
    width: 150%;
    border-radius: 25px;
    text-align: center;
    padding: 2%;
    min-width: 20px;
    min-height: 25px;
    max-height: 25px;
}

.userStatView i {
    margin-top: 13%;
}

.userStatView:hover {
    background-color: #97052d;
}

.actionMenu {
    border-top-right-radius: 0px;
}


/*-------------------------------------------*/
/*      Tooltip for details at User Data     */
/*-------------------------------------------*/

.user_private_data {
    position: relative;
    display: inline-block;
}

.user_private_data .user_private_data_text {
    visibility: hidden;
    background-color: #ffffff;
    border: 1px solid #707070;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 0 40px 0 32px;
    position: absolute;
    overflow: hidden;
    top: 130%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 100;
}

.user_private_data .user_private_data_text::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.user_private_data:hover .user_private_data_text {
    visibility: visible;
    opacity: 1;
    display: block;
    z-index: 101;
}
