@{
    ViewData["Title"] = "Dashboard";
}

<div class="dashboardContent">
    <div class="userImage">
        <img src="~/images/user-placeholder.png" />
    </div>
    <div class="statsContainer col-sm-3"></div>
    <div class="statsContainer col-sm-3"></div>
    <div class="statsContainer col-sm-3"></div>
</div>