@model Service_Layer.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Add User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* CSS Reference to file *@
<link href="~/css/AddUser.css" rel="stylesheet" />

@* ------------------------------------------------------------ *@

<div class="ProfileContent">
    <div class="row noMarginRow">
        <div class="col-sm-2 userContent">
            <div class="" style="margin: 10%;">
                <img class="userProfileImage" src="~/images/user-placeholder.png" style="width: 100%;" />
            </div>
            <div style="width: 100%; margin-top: 10%; margin-bottom: 10%;">
                <button class="btn editButton prim-btn center-block">Upload Picture</button>
            </div>
        </div>


        <div class="row col-sm-9">
            <form method="post">
                <div class="row noMarginRow">
                    <div class="userContent" id="rightUserContentBox">
                        <div class="col-sm-12 inputField specialShowField">
                            <span>Basic User Information</span>
                        </div>
                        <div class="col-sm-6 inputField"><input class="form-control" asp-for="Firstname" /></div>
                        <div class="col-sm-6 inputField"><input class="form-control" asp-for="Lastname" /></div>
                        <div class="col-sm-12 inputField"><input class="form-control" asp-for="Email" /></div>
                        <div class="col-sm-12 inputField specialShowField" id="secondSubHeader">
                            <span>Contact Information</span>
                        </div>
                        <div class="col-sm-9 inputField"><input class="form-control" asp-for="Streetname" /></div>
                        <div class="col-sm-3 inputField"><input class="form-control" asp-for="Housenumber" /></div>
                        <div class="col-sm-4 inputField">
                            <select class="form-control" asp-for="Country">
                                <option value="Netherlands">Netherlands</option>
                                <option value="Belgium">Belgium</option>
                                <option value="Germany">Germany</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="United States">United States</option>
                                <option value="Spain">Spain</option>
                                <option value="France">France</option>
                                <option value="Austria">Austria</option>
                            </select>
                        </div>
                        <div class="col-sm-4 inputField"><input class="form-control" asp-for="City" /></div>
                        <div class="col-sm-4 inputField"><input class="form-control" asp-for="Zip" /></div>
                        <div class="col-sm-12 inputField specialShowField" id="secondSubHeader">
                            <span>Role Information</span>
                        </div>
                        <fieldset class="col-sm-12">
                            <div class="checkbox checkbox-primary">
                                <input id="checkAdmin" type="checkbox" asp-for="IsAdmin" />
                                <label for="checkAdmin">
                                    Admin
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <input type="submit" class="btn prim-btn submitButon" value="Add User" />
            </form>
        </div>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

        window.onload = function() {
            alert('@ViewBag.Message');
            var url = '@Url.Action("UserManagement", "Admin")';
            window.location.href = url;
        };
    </script>
}