@model Service_Layer.ViewModels.AlgoritmSettingsModel;

@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/settings.css" rel="stylesheet" />
</head>
<div class="row noMarginRow">

    @* Algorithm Settings *@
    <div class="dropdown col-sm-6">
        <button class="btn prim-btn dropdown-toggle setting-btn" onclick="OpenSubMenu('menu1')" type="button" id="dropdownMenuButton">
            IAB Settings
        </button>
        <div class="dropdown-menu setting-menu" id="menu1">

        </div>
    </div>

    <div class="dropdown col-sm-6">
        <button class="btn prim-btn dropdown-toggle setting-btn" onclick="OpenSubMenu('menu2')" type="button" id="dropdownMenuButton">
            Email Settings
        </button>
        <div class="dropdown-menu setting-menu" id="menu2">

        </div>
    </div>
</div>


@* Other Settings *@







@* iabToleranceTier1 *@
@* iabToleranceTier2 *@
@* biggestPercentIAB *@
@* padTolerance *@
@* maximumRatings *@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
    function OpenSubMenu(submenuid)
    {
        var element = document.getElementById(submenuid);

        if (element.style.display == "inline-block") {
            element.style.display = "";
        }
        else {
            element.style.display = "inline-block";
        }
    }
</script>

