@model Service_Layer.ViewModels.SettingsModel;

@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/settings.css" rel="stylesheet" />
</head>
<div class="row noMarginRow">
    <form method="post">
        @* Algorithm Settings *@
        <div class="col-sm-6">
            <div class="dropdown">
                <button class="btn prim-btn dropdown-toggle setting-btn" onclick="OpenSubMenu('menu1')" type="button" id="dropdownMenuButton">
                    IAB Settings
                </button>
                <div class="dropdown-menu setting-menu" id="menu1">
                    <div class="row">
                        <p class="col-sm-6 settingHeader">Tier1:</p>
                        <p class="col-sm-6 settingHeader">Tier2:</p>
                        <div class="col-sm-6"><input class="form-control" asp-for="AlgoritmSettings.IabToleranceTier1" /></div>
                        <div class="col-sm-6"><input class="form-control" asp-for="AlgoritmSettings.IabToleranceTier2" /></div>
                        <p class="col-sm-6 settingHeader">Biggest Percent IAB:</p>
                        <p class="col-sm-6 settingHeader">Pad Tolerance:</p>
                        <div class="col-sm-6"><input class="form-control" asp-for="AlgoritmSettings.BiggestPercentIAB" /></div>
                        <div class="col-sm-6"><input class="form-control" asp-for="AlgoritmSettings.PadTolerance" /></div>
                        <p class="col-sm-12 settingHeader" id="customSettingHeader">Maximum Ratings:</p>
                        <div class="col-sm-12"><input class="form-control" asp-for="AlgoritmSettings.MaximumRatings" /></div>
                        <div class="col-lg-12" style="float: right; margin: 2%;"><input type="submit" value="Set" class="btn loginButton" /></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="dropdown">
                <button class="btn prim-btn dropdown-toggle setting-btn" onclick="OpenSubMenu('menu2')" type="button" id="dropdownMenuButton">
                    Email Settings
                </button>
                <div class="dropdown-menu setting-menu" id="menu2">
                    <p class="col-sm-6 settingHeader">SMTP:</p>
                    <p class="col-sm-6 settingHeader">Mail from what address:</p>
                    <div class="col-sm-6"><input class="form-control" asp-for="MailSettings.Client" /></div>
                    <div class="col-sm-6"><input class="form-control" asp-for="MailSettings.FromAddress" /></div>
                    <p class="col-lg-12 settingHeader">Mailsettings for new User</p>
                    <div class="col-sm-12"><input class="form-control" asp-for="NewUser.Subject" /></div>
                    <div class="col-sm-12"><textarea rows="3" class="form-control" style="resize: none; margin-top: 2%;" asp-for="NewUser.Content"></textarea></div>
                    <p class="col-lg-6 settingHeader">Mailsettings for Passwordreset</p>
                    <div class="col-sm-12"><input class="form-control" asp-for="ResetPassword.Subject" /></div>
                    <div class="col-sm-12"><textarea rows="3" cols="20" class="form-control" style="resize: none; margin-top: 2%;" asp-for="ResetPassword.Content"> </textarea></div>
                    <div class="col-lg-12" style="float: right; margin: 2%;"><input type="submit" value="Set" class="btn loginButton" /></div>
                </div>
            </div>
        </div>
    </form>
</div>


@* Other Settings *@







@* iabToleranceTier1 *@
@* iabToleranceTier2 *@
@* biggestPercentIAB *@
@* padTolerance *@
@* maximumRatings *@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
    function OpenSubMenu(submenuid)
    {
        var element = document.getElementById(submenuid);

        if (element.style.display == "inline-block") {
            element.style.display = "";
        }
        else {
            element.style.display = "inline-block";
        }
    }
</script>

