
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@* Algorithm Settings *@
<div style="background-color: white; padding: 5%; border: 1px solid #e91e63;">
    <form method="post">
        <input asp-for="IabToleranceTier1" class="form-control" />
        <input asp-for="IabToleranceTier2" class="form-control" />
        <input asp-for="IabToleranceTier3" class="form-control" />
        @*<div><input type="number" />%</div>
        <div><input type="number" />%</div>*@
        <div><input type="submit" value="Send" class="btn" /></div>
    </form>
</div>




    @* iabToleranceTier1 *@
    @* iabToleranceTier2 *@
    @* iabToleranceTier3 *@
    @* biggestPercentIAB *@
    @* padTolerance *@
    @* maximumRatings *@

