
@{
    ViewData["Title"] = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="reviewContainer">

    <div class="reviewVideo">
        <video controls>
            <source src="https://cdn.jwplayer.com/videos/y126omUS-tLa6hIK3.mp4" type="video/mp4">
        </video>
    </div>

    <div class="row reviewRow">
        <div class="reviewPart col-sm-6" id="Pad-Model">
            <h1>PAD-Model</h1>
            <div class="row padmodelItem">
                <div class="col-sm-4">Pleasure</div>
                <div class="slidecontainer col-sm-4">
                    <input type="range" min="1" max="5" value="1" class="slider" id="pleasureSlider">
                </div>
                <div class="col-sm-4" id="pleasureValue">Value</div>
            </div>
            <div class="row padmodelItem">
                <div class="col-sm-4">Arrousal</div>
                <div class="slidecontainer col-sm-4">
                    <input type="range" min="1" max="5" value="1" class="slider" id="arrousalSlider">
                </div>
                <div class="col-sm-4" id="arrousalValue">Value</div>
            </div>
            <div class="row padmodelItem">
                <div class="col-sm-4">Dominance</div>
                <div class="slidecontainer col-sm-4">
                    <input type="range" min="1" max="5" value="1" class="slider" id="dominanceSlider">
                </div>
                <div class="col-sm-4" id="dominanceValue">Value</div>
            </div>
        </div>
        <script>
            function SliderValue(nameOfSlider, value) {
                var slider = document.getElementById(nameOfSlider);
                var output = document.getElementById(value);
                output.innerHTML = slider.value;

                slider.oninput = function () {
                    output.innerHTML = this.value;
                }
            }
            SliderValue("pleasureSlider", "pleasureValue");
            SliderValue("arrousalSlider", "arrousalValue");
            SliderValue("dominanceSlider", "dominanceValue");
        </script>


        <div class="reviewPart col-sm-6" id="Category">
            <h1>Category</h1>
            <div class="row reviewRow">
                <div class="custom-select col-sm-6">
                    <select>
                        <option value="0">Category</option>
                        <option value="1">VidCat Tool</option>
                    </select>
                </div>
                <div class="custom-select col-sm-6" id="subCategory">
                    <select>
                        <option value="0">Sub-Category</option>
                        <option value="1">VidCat Tool</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div><button type="submit" class="btn prim-btn">Submit</button></div>
</div>

