@model VidCat_Tool.ViewModels.UserProfileVIewModel
@{
    ViewData["Title"] = "Add User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* CSS Reference to file *@
<link href="~/css/AddUser.css" rel="stylesheet" />

@* ------------------------------------------------------------ *@

<div class="ProfileContent">
    <div class="row userProfileRow">
        <div class="col-sm-2 userProfileColumn" style="background-color: #ffffff; height: 80%; overflow: hidden;">
            <div class="" style="margin: 10%;">
                <img class="userProfileImage" src="~/images/user-placeholder.png" style="width: 100%;" />
            </div>
            <div style="width: 100%; margin-top: 10%; margin-bottom: 10%;">
                <button class="btn editButton center-block">Upload Picture</button>
            </div>

        </div>
        <div class="col-sm-7 userInformationColumn" style="background-color: #ffffff; margin-left: 3%; padding: 1%;">
            <form method="post">

                <div id="profileInfoTitle">
                    <b style="text-decoration: underline">Basic User Information</b>
                    <div class="row" style="margin-top: 1%; margin-bottom: 1%;">
                        <div class="col-md-3" style="margin-right: -1%;"><input asp-for="Firstname" class="form-control input-field" /></div>
                        <div class="col-md-5" style="margin-left: -1%;"><input asp-for="Lastname" class="form-control inputField" /></div>
                    </div>
                </div>

                <div id="profileInfoTitle" style="margin-top: 3%;">
                    <b style="text-decoration: underline">Address Details</b>
                    <div class="row" style="margin-top: 1%; margin-bottom: 1%;">
                        <div class="col-md-6"><input asp-for="Country" class="form-control inputField"></div>
                    </div>
                    <div class="row" style="margin-top: 1%; margin-bottom: 1%;">
                        <div class="col-md-4" style="margin-right: -1%;"><input asp-for="Streetname" class="form-control inputField"></div>
                        <div class="col-md-3 NumberInput" style="margin-left: -1%; margin-right: -1%;"><input asp-for="Housenumber" class="form-control inputFieldHouse" type="number"></div>
                        <div class="col-md-3" style="margin-left: -1%;"><input asp-for="Zip" class="form-control inputField"></div>
                    </div>
                </div>

                <div id="profileInfoTitle" style="margin-top: 3%;">
                    <b style="text-decoration: underline">Contact Information</b>
                    <div class="row" style="margin-top: 1%; margin-bottom: 1%;">
                        <div class="col-md-5" style="margin-right: -1%"><input asp-for="Phonenumber" class="form-control inputField" type="tel"></div>
                        <div class="col-md-5" style="margin-left: -1%"><input asp-for="Email" class="form-control inputField" type="email"></div>
                    </div>
                </div>

                <div id="profileInfoTitle" style="margin-top: 3%;">
                    <b style="text-decoration: underline">Role Specification</b>
                    @* ADD ISADMIN OR ISMODERATOR STUFF *@
                </div>

                <div style="margin-top: 3%;">
                    <button type="submit" class="btn btn-success">Add User</button>
                    <button type="reset" class="btn btn-warning" style="float: right;">Reset Fields</button>
                </div>

            </form>
        </div>
    </div>
</div>

