
@{
    ViewData["Title"] = "UserManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/UserManagement.css" rel="stylesheet" />
</head>

<div class="ProfileContent">
    <div class="row userProfileRow">
        <div class="col-sm-3 userProfileColumn">
            <button class="btn editButton">Edit</button>
        </div>
        <div class="col-sm-9 userInformationColumn">
        </div>
    </div>
    <div class="row">

    </div>
</div>