@model Service_Layer.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
}

<div class="loginContainer">
    <h2>Login</h2>
    <form method="post">
        <input asp-for="Username" class="form-control loginInput">
        <input asp-for="Password" class="form-control loginInput">
        @if (TempData["FailedLoginAttempt"] != null)
        {
            <div class="errorMessage">@TempData["FailedLoginAttempt"]</div>
        }
        <div class="forgetLinks"><a asp-controller="Account" asp-action="ResetCredentials">Reset password / username</a></div>
        <div><input type="submit" value="Login" class="btn loginButton" /></div>
    </form>
</div>

