@model Service_Layer.ViewModels.ResetCredentialsViewModel
@{
    ViewData["Title"] = "ResetCredentials";
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
}
<head>
    <link href="@Url.Content("~/css/ResetCredentials.css")" rel="stylesheet" type="text/css" />
</head>
<div class="credentialsContainer">
    <h2 class="text-center">Reset Credentials</h2>
    <form method="post" style="margin-top: 8%;">
        <input asp-for="UserName" class="form-control loginInput">
        @*<input asp-for="ResetType" class="form-control checkbox">*@
    </form>
    <div class="resetTypeDD" style="margin-top: 5%;">
        <h5>What do you want to reset?</h5>
        <select class="selectDropdown">
            <option value="username">Username</option>
            <option value="password">Password</option>
        </select>
        @*<div class="dropdown" style="text-align: center; max-width: 40%; text-align: center; margin-left: 30%; margin-right: 30%;">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width: 100%;">
                What do you want to reset?
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="width: 100%;">
                <li><a href="#">EMail</a></li>
                <li><a href="#">Username</a></li>
                <li><a href="#">Password</a></li>
            </ul>
        </div>*@
        <button class="btn btn-primary btn-success sendButton" type="button" href="@Url.Action("ResetCredentials", "Reset")">Send</button>
    </div>
</div>

